<template>
  <div id="m_aside_left" class="m-grid__item m-aside-left m-aside-left--skin-dark">
    <!-- BEGIN: Aside Menu -->
    <div
      id="m_ver_menu"
      class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
      data-menu-vertical="true"
      data-menu-scrollable="false" data-menu-dropdown-timeout="500"
    >
      <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
        <li class="m-menu__item  m-menu__item--active" aria-haspopup="true" >
          <router-link :to="{name : 'Dashboard'}" class="m-menu__link ">
            <i class="m-menu__link-icon flaticon-line-graph"></i>
            <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                      <span class="m-menu__link-text">
                        Dashboard
                      </span>
                      <span class="m-menu__link-badge">
                        <span class="m-badge m-badge--danger">
                          2
                        </span>
                      </span>
                    </span>
                  </span>
          </router-link>
        </li>
        <li class="m-menu__section">
          <h4 class="m-menu__section-text">
            Device Management
          </h4>
          <i class="m-menu__section-icon flaticon-more-v3"></i>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
          <router-link :to="{name : 'Device'}" class="m-menu__link m-menu__toggle">
            <i class="m-menu__link-icon flaticon-layers"></i>
            <span class="m-menu__link-text">
                    Device
                  </span>
            <i class="m-menu__ver-arrow la la-angle-right"></i>
          </router-link>
          <div class="m-menu__submenu">
            <!--<span class="m-menu__arrow"></span>-->
            <!--<ul class="m-menu__subnav">-->
              <!--<li class="m-menu__item  m-menu__item&#45;&#45;parent" aria-haspopup="true" >-->
                <!--<a  href="#" class="m-menu__link ">-->
                        <!--<span class="m-menu__link-text">-->
                          <!--Device-->
                        <!--</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="m-menu__item " aria-haspopup="true" >-->
                <!--<a  href="components/base/state.html" class="m-menu__link ">-->
                  <!--<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">-->
                    <!--<span></span>-->
                  <!--</i>-->
                  <!--<span class="m-menu__link-text">-->
                          <!--State Colors-->
                        <!--</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="m-menu__item  m-menu__item&#45;&#45;submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">-->
                <!--<a  href="#" class="m-menu__link m-menu__toggle">-->
                  <!--<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">-->
                    <!--<span></span>-->
                  <!--</i>-->
                  <!--<span class="m-menu__link-text">-->
                          <!--Tabs-->
                        <!--</span>-->
                  <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                <!--</a>-->
                <!--<div class="m-menu__submenu">-->
                  <!--<span class="m-menu__arrow"></span>-->
                  <!--<ul class="m-menu__subnav">-->
                    <!--<li class="m-menu__item " aria-haspopup="true" >-->
                      <!--<a  href="components/base/tabs/bootstrap.html" class="m-menu__link ">-->
                        <!--<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">-->
                          <!--<span></span>-->
                        <!--</i>-->
                        <!--<span class="m-menu__link-text">-->
                                <!--Bootstrap Tabs-->
                              <!--</span>-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--<li class="m-menu__item " aria-haspopup="true" >-->
                      <!--<a  href="components/base/tabs/line.html" class="m-menu__link ">-->
                        <!--<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">-->
                          <!--<span></span>-->
                        <!--</i>-->
                        <!--<span class="m-menu__link-text">-->
                                <!--Line Tabs-->
                              <!--</span>-->
                      <!--</a>-->
                    <!--</li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</li>-->
            <!--</ul>-->
          </div>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover">
          <router-link :to="{name : 'DeviceType'}" class="m-menu__link m-menu__toggle">
            <i class="m-menu__link-icon flaticon-share"></i>
            <span class="m-menu__link-text">
                    Device Type
                  </span>
            <i class="m-menu__ver-arrow la la-angle-right"></i>
          </router-link>
          <!--<div class="m-menu__submenu">-->
            <!--<span class="m-menu__arrow"></span>-->
            <!--<ul class="m-menu__subnav">-->
              <!--<li class="m-menu__item " aria-haspopup="true" >-->
                <!--<a  href="components/icons/flaticon.html" class="m-menu__link ">-->
                  <!--<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">-->
                    <!--<span></span>-->
                  <!--</i>-->
                  <!--<span class="m-menu__link-text">-->
                          <!--Flaticon-->
                        <!--</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="m-menu__item " aria-haspopup="true" >-->
                <!--<a  href="components/icons/fontawesome.html" class="m-menu__link ">-->
                  <!--<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">-->
                    <!--<span></span>-->
                  <!--</i>-->
                  <!--<span class="m-menu__link-text">-->
                          <!--Fontawesome-->
                        <!--</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="m-menu__item " aria-haspopup="true" >-->
                <!--<a  href="components/icons/lineawesome.html" class="m-menu__link ">-->
                  <!--<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">-->
                    <!--<span></span>-->
                  <!--</i>-->
                  <!--<span class="m-menu__link-text">-->
                          <!--Lineawesome-->
                        <!--</span>-->
                <!--</a>-->
              <!--</li>-->
              <!--<li class="m-menu__item " aria-haspopup="true" >-->
                <!--<a  href="components/icons/socicons.html" class="m-menu__link ">-->
                  <!--<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot">-->
                    <!--<span></span>-->
                  <!--</i>-->
                  <!--<span class="m-menu__link-text">-->
                          <!--Socicons-->
                        <!--</span>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        </li>
      </ul>
    </div>
    <!-- END: Aside Menu -->
  </div>
</template>

<script>
export default {
  name: 'm-aside-left'
}
</script>
