<template>
  <div class="c-boundary ">
    <div class="m-grid m-grid--hor m-grid--root m-page">
      <!-- BEGIN: Header -->
      <m-header></m-header>
      <!-- END: Header -->
      <!-- begin::Body -->
      <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        <m-aside-left></m-aside-left>
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
          <!-- BEGIN: Subheader -->
          <m-subheader></m-subheader>
          <!-- END: Subheader -->
          <router-view></router-view>
        </div>
      </div>
      <!-- end:: Body -->
      <!-- begin::Footer -->
      <m-footer></m-footer>
      <!-- end::Footer -->
    </div>
  </div>
</template>
<script>
import header from '@/components/frame/m-header.vue'
import subheader from '@/components/frame/m-subheader.vue'
import leftside from '@/components/frame/m-aside-left.vue'
import footer from '@/components/frame/m-footer.vue'

export default {
  name: 'm-page',
  components: {
    'm-header': header,
    'm-subheader': subheader,
    'm-aside-left': leftside,
    'm-footer': footer
  },
  metaInfo: {
    title: ' ',
    titleTemplate: '%s | Comismart',
    bodyAttrs: {
      class: 'm-page--fluid m--skin- m-page--loading-enabled m-content--skin-light2 m-header--fixed m-header--fixed-mobile-hidable m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-brand--minimize m-aside-left--minimize'
    },
    script: [
      {innerHTML: '', type: 'text/javascript', src: 'global/metronic/app/js/dashboard.js'}
    ]
  }
}
</script>
