<template>
  <div class="m-content">
    dashboard
  </div>
</template>
<script>
export default {
  name: 'dashboard',
  metaInfo: {
    title: 'Dashboard',
    titleTemplate: '%s | Comismart'
  }
}
</script>
