<template>
  <div class="m-content">
    device type
  </div>
</template>
<script>
export default {
  name: 'device_type',
  metaInfo: {
    title: 'Device',
    titleTemplate: '%s | Comismart'
  }
}
</script>
