<template>
  <div class="m-content">
    <div class="row">

      <div class="col-lg-4">
        <!--begin:: Widgets/Download Files-->
        <div class="m-portlet m-portlet--full-height">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h4 class="m-portlet__head-text">
                  Agent Name1
                </h4>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <button type="button" class="btn m-btn--pill btn-danger">
                Online
              </button>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Type
                </h4>
                <span class="m-widget1__desc">
              Co2
            </span>
              </div>
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Date
                </h4>
                <span class="m-widget1__desc">
              2018-01-01
            </span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Alerms
                </h4>
                <span class="m-widget1__desc">
              <i class="fa fa-warning m--font-warning"></i>
            </span>
              </div>
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Loading
                </h4>
                <div class="m-widget15__item">
                  <div class="row">
                    <div class="col-9 pt-2">
                      <div class="progress m-progress--sm">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 55%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-3 pl-0">
                      <span class="m-widget15__stats">55%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-widget2">
              <h4 class="font-break lh-15">
                Notification List
              </h4>
              <div class="row">
                <div class="col-2 font-weight-normal lh-32">02:11</div>
                <div class="col-10 pl-0">
                  <div class="m-widget2__item m-widget2__item--primary">
                    <div class="m-widget2__checkbox">
                    </div>
                    <div class="m-widget2__desc">
                      <span class="m-widget2__text">User 登入</span>
                      <br>
                      <span class="m-widget2__user-name">
                    <a href="#" class="m-widget2__link">Super user</a>
                  </span>
                    </div>
                    <div class="m-widget2__actions">
                      <div class="m-widget2__actions-nav">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-2 font-weight-normal lh-32">00:11</div>
                <div class="col-10 pl-0">
                  <div class="m-widget2__item m-widget2__item--warning">
                    <div class="m-widget2__checkbox">
                    </div>
                    <div class="m-widget2__desc">
                      <span class="m-widget2__text">資源提示</span>
                      <br>
                      <span class="m-widget2__user-name">
                    <a href="#" class="m-widget2__link">記憶體即將用盡</a>
                  </span>
                    </div>
                    <div class="m-widget2__actions">
                      <div class="m-widget2__actions-nav">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end:: Widgets/Download Files-->
      </div>
      <div class="col-lg-4">
        <!--begin:: Widgets/Download Files-->
        <div class="m-portlet m-portlet--full-height">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h4 class="m-portlet__head-text">
                  Agent Name2
                </h4>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <button type="button" class="btn m-btn--pill btn-danger">
                Online
              </button>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Type
                </h4>
                <span class="m-widget1__desc">
              Co2
            </span>
              </div>
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Date
                </h4>
                <span class="m-widget1__desc">
              2018-01-01
            </span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Alerms
                </h4>
                <span class="m-widget1__desc">
              <i class="fa fa-times-circle m--font-danger"></i>
            </span>
              </div>
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Loading
                </h4>
                <div class="m-widget15__item">
                  <div class="row">
                    <div class="col-9 pt-2">
                      <div class="progress m-progress--sm">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-3 pl-0">
                      <span class="m-widget15__stats">25%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-widget2">
              <h4 class="font-break lh-15">
                Notification List
              </h4>
              <div class="row">
                <div class="col-2 font-weight-normal lh-32">02:11</div>
                <div class="col-10 pl-0">
                  <div class="m-widget2__item m-widget2__item--info">
                    <div class="m-widget2__checkbox">
                    </div>
                    <div class="m-widget2__desc">
                      <span class="m-widget2__text">User 登入</span>
                      <br>
                      <span class="m-widget2__user-name">
                    <a href="#" class="m-widget2__link">Super user</a>
                  </span>
                    </div>
                    <div class="m-widget2__actions">
                      <div class="m-widget2__actions-nav">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-2 font-weight-normal lh-32">00:11</div>
                <div class="col-10 pl-0">
                  <div class="m-widget2__item m-widget2__item--danger">
                    <div class="m-widget2__checkbox">
                    </div>
                    <div class="m-widget2__desc">
                      <span class="m-widget2__text">資源提示</span>
                      <br>
                      <span class="m-widget2__user-name">
                    <a href="#" class="m-widget2__link">記憶體即將用盡</a>
                  </span>
                    </div>
                    <div class="m-widget2__actions">
                      <div class="m-widget2__actions-nav">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end:: Widgets/Download Files-->
      </div>
      <div class="col-lg-4">
        <!--begin:: Widgets/Download Files-->
        <div class="m-portlet m-portlet--full-height">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h4 class="m-portlet__head-text">
                  Agent Name3
                </h4>
              </div>
            </div>
            <div class="m-portlet__head-tools">
              <button type="button" class="btn m-btn--pill btn-metal m--font-light">
                Offline
              </button>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="row">
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Type
                </h4>
                <span class="m-widget1__desc">
              Co2
            </span>
              </div>
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Date
                </h4>
                <span class="m-widget1__desc">
              2018-01-01
            </span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Alerms
                </h4>
                <span class="m-widget1__desc">
            </span>
              </div>
              <div class="col-6">
                <h4 class="font-break lh-15">
                  Loading
                </h4>
                <div class="m-widget15__item">
                  <div class="row">
                    <div class="col-9 pt-2">
                      <div class="progress m-progress--sm">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-3 pl-0">
                      <span class="m-widget15__stats">75%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-widget2">
              <h4 class="font-break lh-15">
                Notification List
              </h4>
              <div class="row">
                <div class="col-2 font-weight-normal lh-32">02:11</div>
                <div class="col-10 pl-0">
                  <div class="m-widget2__item m-widget2__item--success">
                    <div class="m-widget2__checkbox">
                    </div>
                    <div class="m-widget2__desc">
                      <span class="m-widget2__text">User 登入</span>
                      <br>
                      <span class="m-widget2__user-name">
                    <a href="#" class="m-widget2__link">Super user</a>
                  </span>
                    </div>
                    <div class="m-widget2__actions">
                      <div class="m-widget2__actions-nav">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-2 font-weight-normal lh-32">00:11</div>
                <div class="col-10 pl-0">
                  <div class="m-widget2__item m-widget2__item--brand">
                    <div class="m-widget2__checkbox">
                    </div>
                    <div class="m-widget2__desc">
                      <span class="m-widget2__text">資源提示</span>
                      <br>
                      <span class="m-widget2__user-name">
                    <a href="#" class="m-widget2__link">記憶體即將用盡</a>
                  </span>
                    </div>
                    <div class="m-widget2__actions">
                      <div class="m-widget2__actions-nav">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end:: Widgets/Download Files-->
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'device',
  metaInfo: {
    title: 'Device',
    titleTemplate: '%s | Comismart'
  }
}
</script>
