<template>
  <div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-login m-login--singin  m-login--5" id="m_login" style="background-image: url(global/metronic/app/media/img/bg/bg-3.jpg);">
      <div class="m-login__wrapper-1 m-portlet-full-height">
        <div class="m-login__wrapper-1-1">
          <div class="m-login__contanier">
            <div class="m-login__content">
              <div class="m-login__logo">
                <a href="#">
                  <img src="global/media/logo.png">
                </a>
              </div>
              <div class="m-login__title">
                <h3>
                  Sign In To Admin Panel
                </h3>
              </div>
              <div class="m-login__desc">
                Amazing Stuff is Lorem MIC.SITC Team
              </div>
              <div class="m-login__form-action">
                <button type="button" id="m_login_signup" class="btn btn-outline-focus m-btn--pill">
                  Get An Account
                </button>
              </div>
            </div>
          </div>
          <div class="m-login__border">
            <div></div>
          </div>
        </div>
      </div>
      <div class="m-login__wrapper-2 m-portlet-full-height">
        <div class="m-login__contanier">
          <div class="m-login__signin">
            <div class="m-login__head">
              <h3 class="m-login__title">
                Login To Your Account
              </h3>
            </div>
            <form class="m-login__form m-form" action="">
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" placeholder="Username" name="username" autocomplete="off">
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input m-login__form-input--last" type="Password" placeholder="Password" name="password">
              </div>
              <div class="row m-login__form-sub">
                <div class="col m--align-left">
                  <label class="m-checkbox m-checkbox--focus">
                    <input type="checkbox" name="remember">
                    Remember me
                    <span></span>
                  </label>
                </div>
                <div class="col m--align-right">
                  <a href="javascript:;" id="m_login_forget_password" class="m-link">
                    Forget Password ?
                  </a>
                </div>
              </div>
              <div class="m-login__form-action">
                <button id="m_login_signin_submit" @click="login" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                  Sign In
                </button>
              </div>
            </form>
          </div>
          <div class="m-login__signup">
            <div class="m-login__head">
              <h3 class="m-login__title">
                Sign Up
              </h3>
              <div class="m-login__desc">
                Enter your details to create your account:
              </div>
            </div>
            <form class="m-login__form m-form" action="">
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" placeholder="Fullname" name="fullname">
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off">
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="password" placeholder="Password" name="password">
              </div>
              <div class="form-group m-form__group">
                <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword">
              </div>
              <div class="m-login__form-sub">
                <label class="m-checkbox m-checkbox--focus">
                  <input type="checkbox" name="agree">
                  I Agree the
                  <a href="#" class="m-link m-link--focus">
                    terms and conditions
                  </a>
                  .
                  <span></span>
                </label>
                <span class="m-form__help"></span>
              </div>
              <div class="m-login__form-action">
                <button id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                  Sign Up
                </button>
                <button id="m_login_signup_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">
                  Cancel
                </button>
              </div>
            </form>
          </div>
          <div class="m-login__forget-password">
            <div class="m-login__head">
              <h3 class="m-login__title">
                Forgotten Password ?
              </h3>
              <div class="m-login__desc">
                Enter your email to reset your password:
              </div>
            </div>
            <form class="m-login__form m-form" action="">
              <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
              </div>
              <div class="m-login__form-action">
                <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                  Request
                </button>
                <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom ">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'login',
  metaInfo: {
    title: 'Login',
    titleTemplate: '%s | Comismart',
    bodyAttrs: {
      class: 'm--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default'
    },
    script: [
      { innerHTML: '', type: 'text/javascript', src: 'global/metronic/snippets/pages/user/login.js' }
    ]
  },
  created () {
  },
  methods: {
    login () {
      console.log(111)
      this.$router.push({name: 'Dashboard'})
    }
  }
}
</script>
