/* Global */
.lh-15 {
  line-height: 1.5;
}
.lh-32 {
  line-height: 3.2;
}
.font-break {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* ----------- fix UI ------------*/

/* m-page height */
#app, .c-boundary, .m-page {
  height: 100%;
}

/* header */
.m-brand__logo img {
  /* 暫時這樣寫 */
  height: 50px;
  margin-left: 40px;
}